<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.ComputePowerRecordMapper">

    <!-- 常用查询 -->
    <sql id="allColumn">
        <trim suffixOverrides=",">
            t.id,t.create_time,t.update_time,t.remark,t.version,t.currency_id,t.user_id,t.p_user_id,t.power,t.large_zone,
        </trim>
    </sql>

    <!-- 数据库和实体映射  对应数据库实体-->
    <resultMap type="computePowerRecordModel" id="computePowerRecord">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="currencyId" column="currency_id"/>
        <result property="userId" column="user_id"/>
        <result property="pUserId" column="p_user_id"/>
        <result property="power" column="power"/>
        <result property="largeZone" column="large_zone"/>
    </resultMap>

    <!-- dto映射  添加的字段放在这块-->
    <resultMap type="computePowerRecordModelDto" extends="computePowerRecord" id="computePowerRecordDto">
    </resultMap>

    <!-- 新增 -->
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="computePowerRecordModel">
        insert into t_compute_power_record(
        <trim suffixOverrides=",">
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="version != null">`version`,</if>
            <if test="currencyId != null">`currency_id`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="pUserId != null">`p_user_id`,</if>
            <if test="power != null">`power`,</if>
            <if test="largeZone != null">`large_zone`,</if>

        </trim>
        ) values(
        <trim suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="version != null">#{version},</if>
            <if test="currencyId != null">#{currencyId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="pUserId != null">#{pUserId},</if>
            <if test="power != null">#{power},</if>
            <if test="largeZone != null">#{largeZone},</if>

        </trim>
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="computePowerRecordModel">
        update t_compute_power_record
        <set>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                `remark` = #{remark},
            </if>
            <if test="version != null">
                `version` = #{version},
            </if>
            <if test="currencyId != null">
                `currency_id` = #{currencyId},
            </if>
            <if test="userId != null">
                `user_id` = #{userId},
            </if>
            <if test="pUserId != null">
                `p_user_id` = #{pUserId},
            </if>
            <if test="power != null">
                `power` = #{power},
            </if>
            <if test="largeZone != null">
                `large_zone` = #{largeZone},
            </if>
        </set>
        where id = #{id}
    </update>


    <!-- 查询 -->
    <select id="getById" resultMap="computePowerRecordDto">
        select
        <include refid="allColumn"></include>
        from t_compute_power_record t
        where t.id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getByIds" resultMap="computePowerRecordDto">
        select
        <include refid="allColumn"></include>
        from t_compute_power_record t
        where t.id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="computePowerRecordModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

    <!-- 查询列表 -->
    <select id="queryList" parameterType="computePowerRecordModelDto" resultMap="computePowerRecordDto">
        select
        <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
        <!-- 排序 -->
        <if test="sortName != null and sortName!=''">
            order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                ${sortType}
            </if>
        </if>
    </select>

    <!-- base基础查询 -->
    <sql id="queryList_base">
        from t_compute_power_record t
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="id != null    and id &gt; -2 ">
                AND t.id = #{id}
            </if>

            <if test="createTime != null   ">
                AND t.create_time = #{createTime}
            </if>

            <if test="updateTime != null   ">
                AND t.update_time = #{updateTime}
            </if>

            <if test="remark != null and  remark != ''   ">
                AND t.remark = #{remark}
            </if>

            <if test="version != null    and version &gt; -2 ">
                AND t.version = #{version}
            </if>

            <if test="currencyId != null    and currencyId &gt; -2 ">
                AND t.currency_id = #{currencyId}
            </if>

            <if test="userId != null    and userId &gt; -2 ">
                AND t.user_id = #{userId}
            </if>

            <if test="pUserId != null    and pUserId &gt; -2 ">
                AND t.p_user_id = #{pUserId}
            </if>

            <if test="power != null   ">
                AND t.power = #{power}
            </if>

            <if test="largeZone != null    and largeZone &gt; -2 ">
                AND t.large_zone = #{largeZone}
            </if>


            <if test="startCreateTime!=null">
                and t.create_time>#{startCreateTime}
            </if>
            <if test="endCreateTime!=null">
                <![CDATA[and t.create_time<=#{endCreateTime}]]>
            </if>
        </trim>
    </sql>

    <select id="getByUserIdAndCurrencyId" resultMap="computePowerRecordDto">
        select
        <include refid="allColumn"></include>
        from t_compute_power_record t
        where t.user_id = #{userId}
        and t.currency_id = #{currencyId}
    </select>

</mapper>