<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.PassphraseDeviceMapper">

    <!-- 常用查询 -->
    <sql id="allColumn">
        <trim suffixOverrides=",">
            t.id,t.create_time,t.update_time,t.remark,t.version,t.passphrase,t.device_id,t.active_count,t.active_device
        </trim>
    </sql>

    <!-- 数据库和实体映射  对应数据库实体-->
    <resultMap type="passphraseDeviceModel" id="passphraseDevice">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="passphrase" column="passphrase"/>
        <result property="deviceId" column="device_id"/>
        <result property="activeCount" column="active_count"/>
        <result property="activeDevice" column="active_device"/>
    </resultMap>

    <!-- dto映射  添加的字段放在这块-->
    <resultMap type="passphraseDeviceModelDto" extends="passphraseDevice" id="passphraseDeviceDto">
    </resultMap>

    <!-- 新增 -->
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="passphraseDeviceModel">
        insert into t_passphrase_device(
        <trim suffixOverrides=",">
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="version != null">`version`,</if>
            <if test="passphrase != null">`passphrase`,</if>
            <if test="deviceId != null">`device_id`,</if>
            <if test="activeCount != null">`active_count`,</if>
            <if test="activeDevice != null">`active_device`,</if>
        </trim>
        ) values(
        <trim suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="version != null">#{version},</if>
            <if test="passphrase != null">#{passphrase},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="activeCount != null">#{activeCount},</if>
            <if test="activeDevice != null">#{activeDevice},</if>
        </trim>
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="passphraseDeviceModel">
        update t_passphrase_device
        <set>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                `remark` = #{remark},
            </if>
            <if test="version != null">
                `version` = #{version},
            </if>
            <if test="passphrase != null">
                `passphrase` = #{passphrase},
            </if>
            <if test="deviceId != null">
                `device_id` = #{deviceId},
            </if>
            <if test="activeCount != null">
                `active_count` = #{activeCount},
            </if>
            <if test="activeDevice != null">
                `active_device` = #{activeDevice},
            </if>
        </set>
        where id = #{id}
    </update>


    <!-- 查询 -->
    <select id="getById" resultMap="passphraseDeviceDto">
        select
        <include refid="allColumn"></include>
        from t_passphrase_device t
        where t.id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getByIds" resultMap="passphraseDeviceDto">
        select
        <include refid="allColumn"></include>
        from t_passphrase_device t
        where t.id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="passphraseDeviceModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

    <!-- 查询列表 -->
    <select id="queryList" parameterType="passphraseDeviceModelDto" resultMap="passphraseDeviceDto">
        select
        <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
        <!-- 排序 -->
        <if test="sortName != null and sortName!=''">
            order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                ${sortType}
            </if>
        </if>
    </select>

    <!-- base基础查询 -->
    <sql id="queryList_base">
        from t_passphrase_device t
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="id != null    and id &gt; -2 ">
                AND t.id = #{id}
            </if>

            <if test="createTime != null   ">
                AND t.create_time = #{createTime}
            </if>

            <if test="updateTime != null   ">
                AND t.update_time = #{updateTime}
            </if>

            <if test="remark != null and  remark != ''   ">
                AND t.remark = #{remark}
            </if>

            <if test="version != null    and version &gt; -2 ">
                AND t.version = #{version}
            </if>

            <if test="passphrase != null and  passphrase != ''   ">
                AND t.passphrase = #{passphrase}
            </if>

            <if test="deviceId != null and  deviceId != ''   ">
                AND t.device_id = #{deviceId}
            </if>

            <if test="activeCount != null and  activeCount != ''   ">
                AND t.active_count = #{activeCount}
            </if>

            <if test="activeDevice != null and  activeDevice != ''   ">
                AND t.active_device = #{activeDevice}
            </if>

            <if test="startCreateTime!=null">
                and t.create_time>#{startCreateTime}
            </if>
            <if test="endCreateTime!=null">
                <![CDATA[and t.create_time<=#{endCreateTime}]]>
            </if>
        </trim>
    </sql>

    <select id="getByPassphrase" resultMap="passphraseDeviceDto">
        select
        <include refid="allColumn"></include>
        from t_passphrase_device t
        where t.passphrase = #{passphrase}
    </select>
</mapper>